:root{
  --dark:#0C0C0C;
  --brown: #481E14;
  --dark-red: #9B3922;
  --red: #F2613F;
  --light-red: #FFBE98;
  --grey: #FFF5E1;
  --dark-grey: #7c7b7a;
  
}

*{
  padding: 0;
  margin: 0;
}

.main-div{
  display: flex;

}

.lineChart{
  width: 50%;
}

.header{
  background-color: #9B3922;
  color: #FFF5E1;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 15px 0;
}
